<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172381711047-sdms67o5mhie20qnkhtormhrg3sq29cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172381711047-sdms67o5mhie20qnkhtormhrg3sq29cb</string>
	<key>API_KEY</key>
	<string>AIzaSyCYXyC0l4ADvbgzHzJtvZ8peYN0_nfqxlo</string>
	<key>GCM_SENDER_ID</key>
	<string>172381711047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFlutterTemplate</string>
	<key>PROJECT_ID</key>
	<string>flutter-templa</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-templa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172381711047:ios:3f33f26ccf497950d3ace2</string>
</dict>
</plist>